<html>
  <head>
    <link rel="stylesheet" href="https://use.typekit.net/cgb2gxe.css">
    <style>
      body {
        font-family: "elena-web-basic", -apple-system, serif;
        line-height: 1.5;
        font-size: 110%;
      }
    </style>
  </head>
  <body>
    <%= raw page.parsed %>
  </body>
</html>
