<div class="mb-4">
  <%= turbo_frame_tag "form" do %>
    <%= form_for Link.new, builder: MaterialFormBuilder, data: { controller: "form" }, html: { class: "flex flex-row gap-6 items-center" } do |f| %>
      <%= f.text_field :url, class: "grow", label: "URL" %>
      <%= f.button "Submit", type:"submit", class: "mdc-button--raised" %>
    <% end %>
  <% end %>
</div>
