<div class="mdc-card mdc-card--outlined max-w-md" id=<%= dom_id(link) %>>
  <div class="p-[16px]">
    <%= link_to link.url, page_path(link) %>
  </div>
  <div class="mdc-card__actions">
    <%= form_with model: link, builder: MaterialFormBuilder, method: :delete, data: { controller: "material-form" }, html: { class: "inline mdc-card__action" } do |f| %>
      <%= f.button "Delete", type:"submit", class: "mdc-card__action mdc-card__action--button" %>
    <% end %>
  </div>
</div>
