<div id="<%= dom_id(link, :page) %>" data-controller='pages' data-pages-content-value="<%= content %>">
  <h1 class="text-xl"><%= title %></h1>
  <div content class="leading-relaxed text-lg font-serif"></div>
</div>
