<%= turbo_stream_from user.identity, [:page, link.id], channel: PageChannel %>

<div class="flex flex-row w-full justify-center">
  <%= render partial: 'page', locals: { user:, link:, content: '<script><p>test</p></script><p>test</p>', title: 'Loading...' } %>
</div>
